@padding: 16px;

.FullscreenSearch {
  background: #0086b3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.FullscreenSearch__input {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 30px;
  background: none;
  border: none;
  padding: @padding;

  &:focus {
    outline: 0;
  }
}

.FullscreenSearch__results {
  background: #0086b3;
  height: 100px;
}

.FullscreenSearch__result {
  padding: @padding;
}